<header class="page-header">
  <h1 >Admin Dashboard</h1>
</header>

 <table class="table table-hover">
 <thead class="thead-dark">
  <tr>
    <th>Product Count</th>
    <th>Category Count</th>
  </tr>
</thead>
  <tr>
    <td> <%= @product_count %> </td>
    <td> <%= @category_count %> </td>
  </tr>
</table>
